Page: 1


Page: 2





Page: 3


You decide to stay and drink some water. Your throat is dry anyway and it will help quench your thirst. 
“Here you go,” the boy says as he kneels down and passes you a cup of water. You drain it in seconds. “HehHehHeh! Looks to me like someone hasn’t had enough water for a while!,” he says. You stare down at the ground. It’s true. Your parents were actually taken by a gang of robbers. You couldn’t afford to buy anything and you didn’t know how to boil water. “Eat up!,” he says cheerfully. You eat quickly with large bites, trusting the man in front of you more with every bite. “I”m Ohselvin, what’s your name?,” Ohselvin questions. 
“I’m Rohjalk,” you say, looking up from your sandwich. 
“Well Rohjalk, it’s high time I took you to see the preparation managers. They’ll help you get ready for the trial!”. 
“Really? They’ll help me? Is the trial that hard and serious? Who are they? Do I have to pick one?,” you negotiate anxiously.
“Oh yeah. This trial is nothing like anything you’ve seen before! You could easily lose your life when partaking in the trial if you aren’t careful enough. It’s happened before. Heart attack, suffocation, loss of blood, head chopped off, poisoning, falling into an alcohol pool that’s covered by a trap door so that you don’t smell any…,” Ohselvin glibly lists.
“Could you please stop?” you implore him as the sound of a head being chopped off sends a shiver down your spine. “Excuse me for a second,” you limp away, gagging. Will any of those happen to me? you ponder. 
“Come. Let’s go meet the preparation managers now,” Ohselvin says. 



Flip to page 6









Page: 4 

You look toward door one. The boy is eating his sandwich in the corner of the room adjacent to your exit. You decide to take the risk of being caught by the guards outside. 
“My name is Ohselvin by the way,”. 
“Okay Ohselvin I am Rohjalk.” Just knowing the boy’s name makes you even more unsure about running away, but all you do is want to get home so you go for it. 
You jump off of your cot and make a run for it. Ohselvin sees what you are doing and makes a move to tackle you but you somehow manage to dodge it. “No Rojhalk! It’s not safe out there!!!,” he says. You turn around one more time and the look on Ohselvin’s face is sheer worry. But before you think about what you are doing, you trip and the door flies open. 
“What's going on in here!?,” says a raspy voice over top of you. “It’s time to get ready anyway.” This guard is no human; he is a monkey! 
“Oh right, I forgot to tell you,” Ohselvin says. “The designers and managers of the trial are all Monkeys!”

Flip to page 6.






Page: 5a

“Alright Rohjalk!! Time to choose your Preparation Manager!” Ohselvin cries. 
Your heart races. You can hear it pounding in your ears. The rush of wind around you. I choose…” You gaze at all three of them. 
“I choose Missile!” You say flatly. 
“Ok then, lets get going!” He says. 
	
	“Don’t expect this to be a fun little PE class. You are training here for your death.” Missile sneered. 
	“How intence is this ‘trial’?” you ask.
	“Harder than you can even imagine.” he explains. 
You continue walking down a grand hallway with golden walls and stained glass windows that show images of what look like huge monkeys. Small canals flowing along either side of the floors providing the room with a nice cleansing water sound. But then in front of you the room all of a sudden turns black with moss growing around you and a door appears. The door looks sort of what the rest of the area looks like so you decide to open it. To your horror you see all kinds of terrifying things such as crazy obstacle corses with knives and lazers. And all across the football field size room you see cages with terrible creatures lurking inside that are harry, have fangs, and tons of eyes. 
“Okay, lets get to work.” Missile grunts.

*		*		*

For the past two weeks you have been working your socks off doing all kinds of difficult tasks. You sleep on a hard matress that makes training even harder. Yesterday you were doing a bullet obstical corse where you have to make it through a seiries of traps that shoot at you. After you finished that day’s challenge (and barely managed to survive), through the vents you heard the manager council (Missile, Oidijoli, Octopoddle, Ohselvin, and some other people you have not met). 
“Do you think it is time?” Oidijoli bellows
“The ones who make it through this will go to our final trial,” Missile mindlessly says.
“Missile, how is Rohjalk doing with his training?” Ohselvin questioned.
“You seem to care about this ‘Rohjalk’ very much.” Missile grunts. “He is not doing very well with his challenges. They seem too hard for him. But what do I care.” You know this comment is a lie because you have not been doing bad, just mediocre, and the challenges are not to hard.
				Continue to page 5b
Page: 5b


“So maybe we should give Rohjalk a pass on this test and let him go straight to the final trial.” Ohselvin says. 
“Hold it right there!” screams Oidijoli. “Some of our other trainees are not doing well also and we are not going to just give them a pass for our qualifiers test!” 
“Oh well then continue on.” Ohselvin sighs. 
“So which creatures should we use?” Octopoddle asks. 
“Why don’t we make it challenging this year and use the Yafyat (Yah-Fee-at).” Missile answers proudly.
“No, we can’t do that,” Ohselvin pleads.
“Very well then,” one of the other council members named Gongli states, “We shall have a vote. I’ll start off first. A yes to the Yafyat from me.”
“I second that!” exclaims Missile.
“A third vote from me!” responds Oidijoli.
“Same here,” says one of the other members.
“I agree to,” someone else answers.
“Okay, anyone else? Well then, it is now five against three.” Gongli shares with the group. “Octopoddle, Ohselvin, and Sahvo (another council member), do you have anything to say?” 
“Yes actually!” Octopoddle says with pride. “If the trainees all die in this qualifying test there will be no one left for the actual trial!” he explains.
“You do have a point, Octopoddle.” Oidijoli confesses. “How about instead of killing the Yafyat, they just have to escape to the room the Yafyat is gaurding without getting killed.” 
“I think that is a much better solution.” Sahvo agrees. “It is settled then.”

This comes as a huge shock to you. A scared feeling shivers down your spine and you seem temporarily parilized. Your heartbeat increases. Sweat drips down your forehead and the temperature in the room seems to increase unnaturally. You fear what is to come next. 
	
	

Flip to page 17



Page: 6

You walk down a long cold corridor. You reach the end after what seems like an eternity. 
“What are the Preparation Managers like?” You whisper. Ohselvin strides towards the double doors. 
“Oh you’ll be fine! There’s nothing to worry about! C’mon! Let’s go.” Ohselvin pushes the double doors with both hands. 
“WHO IS IT NOW!!!??” A loud gruff voice bellows. You flinch and take a step back. You slowly walk through the door. Three great big figures emerge from the bright shining light. Currently, you can only see their silhouettes. Ohselvin saunters up to them and puts his hands on his hips. 
“Tada! These are the three great Preparation Managers!!” Ohselvin says, pride in his voice.
 “Is this the runt one of us have to train up? We already have so many trainees!” The first one says. The first Manager is a big burly silverback gorilla with an old looking face that seems that it has been through more than it he can handel. He stares down at you as you gaze up at him. “I’m Missile,” He says in a low voice. 
So you have met Ohselvin,” says a cracky high pitched voice. 
“Yes Octopoddle, I brought him here. This is Octopoddle by the way, Rohjalk.” Octopoddle looks like an oversized lemur that has little golden flakes across her midnight black fur. Her eyes sparkle like stars and her black and white tail is looped across the lemur’s neck, like a scarf. “H-hello,” you stammer. Octopoddle appeared skinnier one but still huge compared to you, speaks up. 
“I’m Octopoddle. I’m here as one of your three choices for being your Preparation Manager!” Octopoddle seems more nice and friendly than Missile is. Still, you know that you have to train hard because the trial is life or death. You turn to face the third and final Preparation Manager.
“My name is Oidijoli (Oy-Di-Jolly). I’m another one of your three choices for your Preparation Manager!” Oidijoli is a perfectly fit and healthy looking mandrill. His face is bright red and blue with large silver fangs and is about as big as van. You have never seen anything like him. His appearance reassures you that he’ll be the right teacher for you. 					

1. If you choose Oidijoli, flip to page 7
2. If you choose Octopoddle, flip to page 8
3.  If you choose Missile, flip to page 5a  
If you choose to pick no one and run away, flip to page 11


Page: 7

	“Alright Rohjalk!! Time to choose your Preparation Manager!” Ohselvin cries. 
Your heart races. You can hear it pounding in your ears. The rush of wind around you. I choose…” You gaze at all three of them. “I choose Oidijoli.” You say flatly. 
“Woohoo! You and I are gonna be best buddies Rohjalk!” Oidijoli exclaims. You smile at him as he smiles back. 
“Let’s go. We’re gonna start right now!”


*		*		*

Weeks pass as you train with Oidijoli. You do push ups, sit ups, squats, stretches, obstacle courses, and more. 
“Alright. Next week is when the trial will take place. I have one test before I allow you to proceed and partake in the trial. It will be a test trial. A preliminary round, though it’s only going to be you.” Oidijoli announces.
 	“Ok! I’m ready for anything!” you say, bursting with excitement. 
“Alright Rohjalk. Here it is. Get to the green flag and you pass!” Oidijoli booms. 
“The green flag is past that maze in your sight. There are many dangers so be careful!” Oidijoli warns. 
“I can do this no problem!” You say. You approach the maze entrance cautiously. 
Lesson #1: You can never be too carful! Oidijoli’s words pulse in your mind. You enter the maze. You follow the path until you reach a fork in the road.

What should I do? Which way to go? You think. Which do you choose?


If you choose to turn left, go to page 9
If you choose to turn right, go to page 10
If you choose to keep going straight, flip to page 12


Page: 8

 “Whom do you choose as your manager?” snarls Missile. You can feel your heartbeat go up and the room goes still. Wind flows past your ears as you look at the three of them. 
“Choose someone now!” Oidijoli screams. 
“Okay, I choose Octopoddle!” you announce. 
“Woo hoo!!!” she shouts.“No one ever chooses me!” Octopoddle starts jumping up and down in her golden throne.

*		*		*
It has been two weeks training with Octopoddle and you feel more confident and strong than ever. You have heard some of the other trainees talking about a qualifying test that we have to compete in before the real trial. 
“Hey Rohjalk! What do you think the qualifiers will be this year,” wonders a fellow trainee of Octopoddle. 
“I’m not sure,” you respond. 
“Whatever it is I hope we both make it through this.” he says.
“So do I.” you murmur.

A few days before the qualifying test, Octopoddle tells all of her trainees (which is about twenty to twenty-five people) to make a line by her office. You feel like this is an important discussion so you race there. Since you are second in line you did not have to wait long. 
	“Next person in line!” you hear on the loudspeaker. 
“Creeekk!” you slowly open the blue metal door. 
“I have been expecting you, Rohjalk,” mumbles Octopoddle. “Let’s make this quick. You probably already know about the qualifying test, right?” 
“Yes,” you respond firmly. 
“This year, the council has decided to let you choose one of two options for your test. The first option is to go through a maze with challenges along the way. The second option is to escape a monster of the council’s choosing in the arena. For whichever one you choose, you will be given more details about it later. So what do you choose Rohjalk?”.

If you choose challenge 1 (the maze), you start off with a fork in the road. The left path is page 9. 
The right path is page 10. The middle path is page 12.

If you want to do challenge 2 (the monster arena), flip to page 17
Page: 9


	You decide to make a left turn. You walk down a winding path that seems to lead to nowhere. Finally, you reach a light that pierces the darkness around you. You walk closer. It’s a dead end. A giant oversized spider bigger than you are creeps up from behind. You’re trapped between a wall and a big hungry spider. SHING! Spikes emerge from the wall with a flourish. The wall starts to move towards you. The spider acts up as well. The spider screeches and charges at you. You dodge twist and turn until you’ve been caught in one of the spider’s eight hairy legs. The spider slowly raises you to its mouth. 
“AAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!” You shriek but it’s no use. You’ve been devoured by the big fat spider. It’s fangs slowly and painfully piercing through your skin injecting it’s deadly poison.





You’ve been eaten by a spider and found in a million years in the form of spider feces (spider poop).










Page: 10


You decide to turn right. The words of your trial manager play in your head over and over again: 
“You can never be to careful and do not trust anyone.” You keep walking and walking and walking until you find yourself a door on your left hand side. You open the door and enter what looks like a bedroom. You see an old man with a shaggy white beard sitting by the side of the bed. He looks up from drinking his jasmine tea.
“Hey there sonny!” He croaks. You look at the old man and start to approach him. “So you’re here for the preliminary trial huh?” he chuckles. “Come sit down. There’s a chair over there by the table.” he says slowly. You pull up the chair and take a seat. 
“Tell me about your life sonny.” the man says. You go blabblering on about how your parents got taken and how you have been on your own. You drink some jasmine tea and eat a few wafers. You freeze in your seat and fold your hands. Then you walk over to the rusted sink, turn on the faucet and start to wash your hands. With your back turned, you are vulnerable to attacks and that’s exactly what happens. The old man pulls out a scythe, hooks it around your neck, and slices your head off with one smooth cut.


A few years later, archaeologists discover your severed head buried in the ground.









Page: 11


“Ummmm…” You mutter as everyone in the room looks at you eagerly. “I choose…” Out of the corner of your eye, you see a vent. You decide to just make a run for it and look for your lost parents. “I can’t do it! I won’t, I won’t, I won’t!” you scream. All the stress and tension in your brain makes you release a tantrum. You dash to the vent. 
“Hey! Seize him!” The guards yell. You reach the vent and open it. You take a giant leap and start crawling as fast as you can through the small narrow tunnel. 
“Wait up!!” You hear Ohselvin cry. He starts to crawl along with you in the dark vent. You move faster and faster and faster. Ohselvin matches your every pace. 
You keep moving until you hit a dead end. “KILL HIM!!” you hear the guards scream. One of the guards shoots a bullet that narrowly misses Ohselvin. It speeds towards you and you don’t even have time for any last words.





Your corpse is tossed into the ocean due to your popularity as a dishonest cursed boy.











Page: 12



	You choose to keep progressing forward. The cold gray walls keep moving in the same direction. You start to think whether you made the right choice or not. Finally, the road starts to turn. 
“HEY YOU! WHAT DO YOU THINK YOU’RE DOING OVER HERE!!?” A deafening voice booms over the whole maze. You cover your ears to protect yourself from the sound. You slowly creep down the path and find yourself face to face with a ginormous  gorilla the size of a bus. You take a few paces back, crouching in terror. The big monkey examines you as he towers over you. 
“Ah. Oidijoli told me about you. You’re the new challenger right?” The monkey asks calmly.
“Yes,” you reply meekly. 
“I’m Fissle. Missile’s younger brother. What’s your name?” Fissle says.
“I’m Rohjalk,” you reply. “Is this a dead end?”
“Nope. You just have to beat one minigame and you may pass. So, what will it be? Do you want to leave and try another route or stick around and do the minigame?”
“What is a minigame?” you question. 
All over this maze there are small games that you have to complete to keep moving through the maze. Usually if you fail one of the minigames, the result is death. So what is your choice?





If you choose to leave and go back to the left path, flip to page 9

If you choose to leave and go back to the right path, flip to page 10

If you choose to stay and play the minigame, read on to page 13





Page: 13



	“Alright Rohjalk my friend! Time to pick! What do you choose?” Fissle exclaims.
“I’m going to try and beat this minigame to move on!” You make a fight pose in case any guards or traps come flying out at you. Nothing happens. 
“Great! Okay. So kid, lets first go this way.” Fissle walks over to the left wall and pulls a lever. CRRRRRRRRREEEEEEEKKKKKKK! A big part of the floor in front of you slides open. You see a slide at your feet.
 “Alright kiddo. Let’s slide!!” Fissle proclaims. You sit down at the flat part of the slide and start to slowly inch your way forward to the angle. Suddenly, you lurch forward. Fissle has pushed you down the slide! 
“YAAAAAAAAAAA!!!!!!” You shriek at the top of your lungs. You plung downwards and drop like a stone. You can hear your blood pounding in your ears as you fall down the black eerie tunnel. After some time, you start to slow down. You quickly get up from the slide as soon as you reach the bottom. Fissle arrives 10 seconds later. 
“Was that fun or what?!” Fissle cries eagerly, looking you in the eye. 
“It was crazily scary! I was terrified the whole entire time!!” You explode. 
“Alright, alright. That wasn’t part of the minigame. The minigame is, survive for 10 minutes. If you can do that, you may proceed onwards. If you can’t, then you will probably die.,” Fissle explains. “You ready?” 
“I’m as ready as I’ll ever be.” You murmur flatly. You walk to the center of the room and get into your fighting stance. Suddenly, shurikens from all four sides come shooting at you. You immedietly duck and let the shurikens collide in midair just where your head was. the shuriken fall on your head but don’t hurt you except for one of them which has unfortunately cut your hand. You keep at it for a while until there’s only 1 and a half minutes left. A screen appears in front of you. You read what it says. Hit the target with an arrow and shoot from behind the red line on the floor. A bow and a sling of arrows drop on the floor. You go to retrieve it. Should you hit the target or not?

If you choose to hit the target, flip to page 14
If you choose to not hit the target and tell Fissle that your done, flip to page 15.





Page: 14



	You decide to hit the target. You step behind the red line and take aim. WHOOSH. The arrow moves quickly and swiftly in the air but completely misses the bullseye. It hits the wall instead. You try again but still fail, just closer to the bullseye than before. You try again, and again, and again, until your arms start to fail you. You try one last time. WHOOSH! The arrow hit the bullseye on the dot. 
“YES!” you cheer. Suddenly red lasers form a cage around you and lock you in. You don’t realize that they’re lasers and think that they’re just lights. You try to run through them. ZAP! The lasers chop you up into pieces.








The rest of the monkeys see your body’s chopped up pieces after Fissle turns off the lasers and retrieves you.











Page: 15



	You decide not to shoot the bullseye because you think something bad will happen if you do. You saunter over to Fissle. Fissle looks up from his banana. 
“Hey Fissle? I think the 10 minutes are over.” You say.
“Good job! You outsmarted the trick! If you had shot that target, you would’ve ended up dying!” Fissle says giddily. 
“I would’ve?! I’m so awesome!” you shout, doing a little victory dance. 
“Alright dude. You passed! Lets go back up!” Fissle says excitedly.
“Okay!” you reply joyfully. You follow Fissle to an elevator at the back of the room. You enter the elevator and the doors close. As you slowly travel upwards, you start to think about what might be in store for you. What dangers you might encounter. Suddenly, Fissle starts to try and pull of his head. 
“What are you doing!?” You scream, backing up. Then, Fissle’s head pops of like a costume, only it is a costume.
“Ohselvin!?” What are you doing here?” You ask. 
“I snuck into the maze! I took care of the real Fissle. Knocked him out with a sleep inducing solution!” Ohselvin says triumphantly.
“AHEM!! WHAT THE HECK ARE YOU DOING HERE OHSELVIN!!!????? YOU SHOULDN’T BE HERE!!! GET OUT! ALRIGHT, I’M OFFICIALLY PAUSING THE PRELIMINARY TRIAL!!! GUARDS!! FETCH THEM AND BRING THEM BACK HERE! I NEED TO TALK TO THEM!!” Oidijoli’s voice blares over the whole maze and building. A group of big monkeys crawl over the wall and start to jump at you. You cower in fear and start to sprint for your life. A second platoon of monkeys jump at you from the front. Now you’re trapped and you have nowhere to run. You get crushed at the bottom of a puppy pile. Out of nowhere, a deceptive monkey fist punches you in the face. You get knocked out and everything starts to go black. 





Continue on page 16




Page: 16

You wake up in a room, seeing a chandelier hanging right above your head. You bolt up and look around the chamber. Beige walls surround you from all four sides with a white ceiling on top. A checkered floor takes up the ground where you stand. You look out the window and see Oidijoli sitting of a tree and eating a banana. He turns to face you. Ohselvin wakes up beside you. He looks around dizzly.
 “Captain Oidijoli?” He says. He refocuses himself and sits up. “Oidijoli! Is he around?” Ohselvin scans his surroundings hurriedly, trying to make sure he wasn’t caught. 
“Young man, do you care explaining yourself? Why did you sneak into Rohjalk’s qualification test?” Oidijoli drawls calmly. 
“I just wanted to ensure Rohjalk’s safety. That’s all,” Ohselvin confesses.
“Well guess what!? I just spoke to the council about it and all of them agree that you will have to partake in the final trial as Rohjalk does. If you fail, you die. If you pass, we spare you and you live. Is that clear!?” Oidijoli explodes. Ohselvin sits there, stunned. 
“Y-yes. I understand sir,” Ohselvin mutters, in shock. 
“Alright. The real trial shall take place tommorrow at noon. Be there.” Oidijoli swings out of the room and disappears in the wilderness. 
“Don’t worry Ohselvin! Now we can help each other to pass the trial!” You try to cheer Ohselvin up but it does no good.
“No, Rohjalk. Even attempting to do the trial seals your fate. You die. It’s a 99.99% chance you will die. 
“No one has ever passed and lived doing the trial before. We’re both going to die.” Ohselvin admits. 
“Trust me, I will find a way to make it through alive,” you ensure. But in your mind, you are stressing out because you have no idea to save the both of you.
“Now go back to your quaters, dinner is soon. It will be a fun day tomorow, I can’t wait!” Oidijoli laughs.

That night, in your cot, an idea comes to your head. It is an insane, crazy, not-possible idea, but it gives you a chance. You want to start a revolution. 


 If you choose to go through with this idea and start a revolution against the council, flip to page 18.
If this plan is to crazy for you, flip to page 19.


Page 17:
“OOF!!” you blurt out as you get pushed on to the floor. You look up and see a small cramped stone room. The place is full of cobwebs and the walls have cracked so much as if it were built hundreds of years ago. Only a few trainees are in the room with you and none of your best friends are there either. Everything in the room feels nervous from the devastating looks, splattered on your piers faces, to the midnight spider gliding across his silver web.
	“LISTEN UP EVERYONE!!!” a huge voice bellowed from right behind you. “I am Haggner and the beast they will be facing is a Triple Headed Monster Ape!!!! The Yafyat!!!” Haggner roars. “You will have to get to the flag that the Yafyat is guarding without being killed.” 
“WOOOOOOOOOOOOOOO!!!!!!!!!!!!!!” The crowd cheers noisily. You break under the pressure. What’s a Yafyat? You wonder. 
“Rooooooooooaaaaaarrrrrrrrrrrrr!!!!!!!” A huge three headed ape comes out from a cave. One head spits acid, the other squirted jets of water, the third head had 4 long razor fangs. It’s big red face beams down at you like it is trying you see into your soul. It has deep wood colored fur that is splattered with pine bits and sticks out as if it was electricuted.
“This is Yafyat!” Haggner shouts.
You dodge to the left as the Yafyat slams his arm down where you were a second ago. He spits out acid which burns off part of your pants. You accidentally leap into the line of fire of a squirt of water, getting splashed backward and the water makes your clothes heavy and harder to move around in.
“Ow!” You exclaim as it knocks you on the ground. The battle keeps going on and on. You get burned, drenched, and cut. 
You leap and throw a rock at the third head. It hit it’s fangs and breaks in two. It’s razor fangs are pearly white and three feet long with tiny knives all over it. The third head dives down and breaks your legs with just pure force.
“AAAAAAHHHHHHHH!!!!!!!!!!!!!!!!!” The second head lowers and swallows you whole. You feel yourself sliding down a long tunnel. You land in a green pool of burning acid. You quickly swim over to a big chip. You climb on and sit down for what seems like an eternity. Suddenly, you get pulled down and splated on the ground, covered in dark brown goo. You stand up, attempting to wipe off the vile substance. The Yafyat stares at you, it’s peircing white eyes show signs of confusion and disgust. You’ve been eaten and pooped out by Yafyat. The crowd is stunned. 
“Alright! Calm down!” Haggner yells meekly. “ your assignment is not over though. You still have to get to the flag. You start to run, but your legs are very weak. Finally, when you are so close, the Yafyat’s colossal paw is directly above you ready to strike. Something or someone bursts into the air and knocks the Yafyat to the ground. It is Ohselvin saving you.		1.Flip back to page 16

Page 18:

	“Up and adam everyone!!” Missle shouts. “Today is trial day! Now get to breakfast!” That insane idea is pounding in your head, “Do it, do it, do it!” It is decided. You will tell everyone about the revolution during breakfast. This is a extremely dangerous idea and you know it, but it is either this or death. You get out of bed to see Ohselvin right next to you with tired eyes. 
	“I slept on the floor, he yawned. “I got all of my special privileges taken away.”  
Ohselvin sighs. 
	“I need to tell you something Ohselvin.” you state. 

	“Okay. I understand. Come on, lets go tell the others.” Table by table you and Ohselvin tell each of the surviving trainees about the plan. Almost all of them decide to work with you. 
	“Here is the plan. We are going to start a revolution. First, when they set us up for the trial they will give us weapons to defend ourselves against the challenges, but we will use their own weapons on them. All three teams (Missile, Octopoddle, and Oidijoli’s groups) will attack a different spot in the mansion. The resistance of the monkey gaurds will be very high and many of us may not make it out alive, but with all of the trainees, we have about one hundred fifty people. With our skill and numbers, we have a chance to prevail. If everything goes as planned, we will regroup in the mess hall and strike an attack on the council room. This is going to be very dangerous so if you would not like to participate, now is the time to leave.” 
	“We all want to get out of this place and this is probably the best way to do it.” a pier announces. 
	“Yeah! We are all in this together!” 
	“BEEP BEEP BEEP!!!” you all hear. “Let’s go everybody. Be strong.” you encourage. You walk to your starting area like everyone else. On the other side of that wall is somethink terrible and you hope you do not have to experience it. It is time for the trial. 






Flip to page 21


Page 19:

	It has been a rough night for you. Many things have been going through your mind and it is making you nauseous. Today is trial day and you are not excited. You have been training for what seems like an eternity and you hope it has payed off. 
	“BLEEP BLEEP BLEEP BLEEP BLEEP!!” you hear on the loudspeakers. It is time for the trials. 
	“Hey Rohjalk!” Ohselvin enthusiastically shouts. “Are you ready for today?” his tone suddenly getting dark and gloomy.
	“No, I don’t think I am ready,” you admit.
	“Let’s go to the starting positions.” he tells you. You and all of the remaining trainees clump together towards the front of the gate like a pack of sheep. Screams echo beyond the gate and you can hear the faintest sound of knives grinding. 
	“TEN! NINE! EIGHT! SEVEN! SIX!” the numbers count down. “FIVE! FOUR! THREE! TWO! ONE!” and everyone is off. In your hand there is a bronze hammer with diamond spikes imbedded in its sides. At this moment you realize that this is not just a competition against the trial, they expect you to fight each other to survive. 
	“Come on Rohjalk le’ts get going!” Ohselvin insists. You start to run but there is a fork in the road. You don’t know which way to go so you ask Ohselvin.
	“Which path should we take?”
	“Let’s try the right one.” he guesses. You start to jog down the right path, but as you get a couple feet in, you hear a slash behind you. Ohselvin has a sword right up to your neck. You can feel the tip just barely. 
	“I am sorry Rohjalk, but this will be less painful than when you get killed later in the trial. Goodbye.” In one sharp slash, the sting of the blade pierces through your neck. You start to loose consciousness and everything goes black, but in your last moments, you can see Ohselvin hold the same blade, coated in your own blood, up to his heart. 
	“This is the right thing to do,” he stammers. “On the count of three.” he tells himself. “One. Two. Three.” The blade forces it’s way through Ohselvin’s body and comes out the other side. 
	“I-it was nice kno-owing you.” Ohselvin manages to blurt out. He falls to the ground. No heart beat. In a way Ohselvin’s actions are very courageous and kind. He killed you to save you from a worse death. You have not every found a meaning to your life, but now you see it. Your purpose was to know Ohselvin. Destiny decided this fate. This was meant to be. Your eyes shut. It is all over. The misery, the pain, it is all gone now. 

The End
Page 20:

	You start to think. You really want to get out of the monkey palace, but it will mean nothing without your family there with you. 
	“Hey Ohselvin! Can you come over here for a second.”
	“Sure!” he replies.
	“Isn’t there a control room where you can find anyone in the city somewhere in here?” 
	“Yeah! There is!” he says enthusiastically. “It is near the council room. Why are you asking though.” 
	“There is something I need to tell you. I am going to try to find my parents, but I need your help. Keep in mind that you can definitely say no, but I would really appreciate if you helped me.” you plead.
	“You know what. I’ll help you, but this is a very dangerous mission so you have to be careful.” he agrees. 
	“Thank you so much! That really means a lot to me.” 
	“Okay, step one of the plan: getting to the control center.” Ohselvin announces. “Follow me.” he says. You start to creep toward the nearest exit and when you finally get there you start to get really excited. 
	“This is no easy task Rohjalk. There will be patrols everywhere because of our revolt so we will have to sneak by them.” he instructs. You move out on to the left hall that you remember Ohselvin brought you down on your first day here. Now two months have passed and you are doing the same thing again just for a different reason though. 
	“Hold it!!” Ohselvin shouts as a squad of monkeys march by. You just barley make it through without any of them seeing you. Hall by hall, you and Ohselvin sneak by all of the monkey guards and make it to the last turn. You can see the door to it. It is a pure obsidian door that is lined with gold rims. You could not miss it if you tried.
	“Come’on lets go!” you cheer. You both start to run down the hall, but when you make it to the door it seems to be locked. 
	“Step aside!” Ohselvin beams. “I have a key card!” He scans the key card and the two of them move in. 
	“Hey what are you doing here??!!!” a monkey scientist screams. 
“Quickly!” Ohselvin blurts at you. You run up to the scientist and double kick him in the teeth, knocking the monkey out. Ohselvin rushes to the computer and starts typing. “We need to do this quickly” Ohselvin had said. “We need to get back to the trainees. They might need our help.” Ohselvin shakes his head in disapproval and slumps in his seat.
	“I-I am so sorry Rohjalk.” he mutters.
“What is happening?!” you scream. You run to take a look. The results are final. Your parents are both dead. 		1. Flip to page 23
Page 21:

The blood rushes to your head. You can hear everything from the screams across the wall to the beat of a fly’s wing. Wind blows through your hair. You know what is to come and you do not think you are ready. You get handed a blazing sword with an obsidian tip and a diamond handle. 
	“TEN! NINE! EIGHT! SEVEN! SIX!” the count down starts. “FIVE! FOUR! THREE! TWO! ONE! GO!!!” the gates open, but nobody moves. 
	“What are you doing!?” a monkey gaurd screams. 
	“We are starting a rebelion.” you couragously say. “ATTACK!!!” with theese weapons you feel bigger and stronger than before like you can do anything in the world. Like a giant compared to ants. A siren blares over the sounds of fighting as a dozens of monkey soldiers start to flood the room. You jump over dead corpses of both sides of the fight. The monkeys are twice as big as you, but their weapons are made of iron. You are deep in a battle with one of them. You slash from the side but they perry it with an upwards strike. You two go back and fourth, up, down, right, left. Just then he spears his sword out to try to stab you, but in one slash you knock the sword right out of his hand and throw your sword into the opponents heart. 
	You have practiced killing before in trainning with dummies, but have never killed in real life before. It feels horrible like a peice of your heart falls out. You try to let this feeling go but it won’t leave. This is something that you have to do if you want to survive in this situation. The trainees keep pushing forward and eventually you have made it to the exit won the battle. It feels as if you have not only completed one part of the mission but boosted your morale to. Honestly, you didn’t think you could win this battle at all. You all have to still keep pushing forward. 
“Everyone get into your sections!” you announce.
“Where should I go?” Ohselvin askes, his clothes tattered and ripped with splattered blood all over his T-shirt. 
“You can stay with me! I’ll need your experience too.” you reply. And you know that is not the only reason you want him to come. You need his encouragement to keep moving forward. With your family gone and being by yourself, you have never had anyone to count on. It has always been just you alone. Now you face a different question. You have heard the managers mention a control room where they have the location of everyone in the city. Maybe it would help you find your parents. But on the other hand you are still trying to escape this place and you are responsible for everyone here. What do you choose.

If you choose to go to the control center, flip to page 20
If you think that it is more important to get out of the monkey maze, continue to page 22
Page 22:

	“Okay everybody let’s split up! Come’on make it hasty!” you encourage. Your team, a group of the best fighters, follow you down the right exit. The cold grey walls and the rusted banesters seem to following you as well. “This is a stealth mission so no one can make even a peep” you had told them. 
	About a mile down, there is a turn in the hall. As soon as you peek over the corner, a massive voice drawls,
	“THERE THEY ARE!!!”. Right in front of you, what appears is not a monkey it is a rhinosourus the size of an average car with silver armor plating covering his back and face. It has an entourage of small chimpanzees, also equipped with armor and stubby gold rods attatched to a jade compartment at the end. You can hear a faint tiny clinking and buzzing sound comming from the gold rods.
	“PIOOO” a blazing sonic beam rains from the chimpanzee’s weapons and speeds through your squad. Thankfully it did not hit any one because when it collided with the wall you could see a burning red puncture hole right where it hit. 
	“Oh yeah! I forgot to mention that they have sonic blasters.” Ohselvin shrugs. “But we also have them if you just twist the handle of your weapon!” You try what Ohselvin instructs and your obsidian sword folds in half and the gold tips cover the entire thing. At the end of your new blaster there is a sphere that has the same little noise as the monkeys’. You hold it out to the Rhino and twist the handle again and a violet streak of light shoots out of your blaster and hits your opponent square in the forehead. A second later he starts to crumple down and shrivel up like there is nothing left in the Rhino’s body. 
	“AHHHH!!! He killed the boss!!” a monkey shouts. “Run for it!!!” the monkeys start to hurl up out of the hallway and you and your entourage push forward. “
	“We are gaining ground. Keep going!!!” Ohselvin announces. You are worried of what is to come, but you keep pressing forward. 
	“ON TO THE COUNCIL ROOM!!!” you encourage.




Keep moving forward to page 23






Page 23:


	You and Ohselvin stride gracefully towards the smooth brown double doors. You open them and a bright light shines from within. Clean white walls with chandeliers dangling from the ceiling, decorated with emeralds, diamonds and rubies. The council greets you happily. You and Ohselvin take a bow. 
“We are very excited to serve you Master Rohjalk, Master Ohselvin!” The council chorused. Suddenly, the wall crumbles down. Concealed in the smoke, Oidijoli’s silhouette is visible. Oidijoli stands holding a detonator.
“YOU ALL WILL PAY FOR BETRAYING ME!!!!!!!!!!!!!!!!!!!!” Oidijoli cackles maniacally. He clicks the button. Everything becomes eerily silent. Nothing implodes. Then, a box with a timer on it starts to tic. There’s ten seconds until everything around you explodes. loud voice blares around the whole room, 
“10! 9! 8! 7! 6! 5! 4! 3!” You tremble in fear. You and everyone on your side start
to run, but then at the end of the count down a two minute countdown starts.
“2 minutes until we implode! 1 minute 59 seconds! 1 minute 58 seconds!...” The speaker cries.  Everyone starts to run. You and Ohselvin help save the elderly from the bomb. 
“1 minute 9 seconds!” you only have a minute to get out! Ohselvin rushes out of the hall and starts to carry out the wounded. 
“EVERYONE EVACUATE!!”
	“37 seconds!” Ohselvin is still too close to the bomb. Oidijoli tackles him.
“3! 2! 1!” “BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!”
You open your eyes and see Ohselvin lying on the ground with cement around him. Oidijoli pulls out a dagger. His dagger is steel crested with bright emeralds.
“If you’re not dead yet, I'm going to kill you with this blade!!!” Oidijoli screeched sourly. “NOOOOO!!!” Oidijoli raised his arm and thrusted it forward into Ohselvins heart. Blood spurts everywhere. 
“Your next!” Oidijoli taunts. All the rage in the world fills up your body. Oidijoli pulls out the dagger, stained with Ohselvins blood. You go wild and attack Oidijoli. He’s taken aback. You pull out your sonic blaster and take aim. You fire the blaster just as Oidijoli throws the dagger. The power of the sonic blaster takes out the dagger and turns it into a pile of dust. The sonic blaster hits Oidijoli with full force and ruptures his intestines and vital organs. He falls to the ground dead with no last words. You leave the great battle field. This adventure is over. 




  One year later… 
*		*		*


You walk over, covered in vibrant colored robes, visiting Ohselvin’s grave. You sit down and watch the briny waves rise and fall in the sunset. “At least it’s all over,” You murmur.


THE END

{% endfilter %}

<img src="{{url_for('static', filename='isle_royale.jpg')}}" align="left"/>