<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“OOF!!” you blurt out as you get pushed on to the floor. You look up and see a small cramped stone room. The place is full of cobwebs and the walls have cracked so much as if it were built hundreds of years ago. Only a few trainees are in the room with you and none of your best friends are there either. Everything in the room feels nervous from the devastating looks, splattered on your piers faces, to the midnight spider gliding across his silver web.
	“LISTEN UP EVERYONE!!!” a huge voice bellowed from right behind you. “I am Haggner and the beast they will be facing is a Triple Headed Monster Ape!!!! The Yafyat!!!” Haggner roars. “You will have to get to the flag that the Yafyat is guarding without being killed.” 
“WOOOOOOOOOOOOOOO!!!!!!!!!!!!!!” The crowd cheers noisily. You break under the pressure. What's a Yafyat? You wonder. 
“Rooooooooooaaaaaarrrrrrrrrrrrr!!!!!!!” A huge three headed ape comes out from a cave. One head spits acid, the other squirted jets of water, the third head had 4 long razor fangs. It's big red face beams down at you like it is trying you see into your soul. It has deep wood colored fur that is splattered with pine bits and sticks out as if it was electricuted.
“This is Yafyat!” Haggner shouts.
You dodge to the left as the Yafyat slams his arm down where you were a second ago. He spits out acid which burns off part of your pants. You accidentally leap into the line of fire of a squirt of water, getting splashed backward and the water makes your clothes heavy and harder to move around in.
“Ow!” You exclaim as it knocks you on the ground. The battle keeps going on and on. You get burned, drenched, and cut. 
You leap and throw a rock at the third head. It hit it's fangs and breaks in two. It's razor fangs are pearly white and three feet long with tiny knives all over it. The third head dives down and breaks your legs with just pure force.
“AAAAAAHHHHHHHH!!!!!!!!!!!!!!!!!” The second head lowers and swallows you whole. You feel yourself sliding down a long tunnel. You land in a green pool of burning acid. You quickly swim over to a big chip. You climb on and sit down for what seems like an eternity. Suddenly, you get pulled down and splated on the ground, covered in dark brown goo. You stand up, attempting to wipe off the vile substance. The Yafyat stares at you, it's peircing white eyes show signs of confusion and disgust. You've been eaten and pooped out by Yafyat. The crowd is stunned. 
“Alright! Calm down!” Haggner yells meekly. “ your assignment is not over though. You still have to get to the flag. You start to run, but your legs are very weak. Finally, when you are so close, the Yafyat's colossal paw is directly above you ready to strike. Something or someone bursts into the air and knocks the Yafyat to the ground. It is Ohselvin saving you.		

{% endfilter %}

<form action="/page16" method="GET">
    <p><input type="submit" value="Flip back to page 16"></p>
</form>