<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“Alright Rohjalk!! Time to choose your Preparation Manager!” Ohselvin cries. 
Your heart races. You can hear it pounding in your ears. The rush of wind around you. I choose…” You gaze at all three of them. 
“I choose Missile!” You say flatly. 
“Ok then, lets get going!” He says. 
	
	“Don't expect this to be a fun little PE class. You are training here for your death.” Missile sneered. 
	“How intence is this 'trial'?” you ask.
	“Harder than you can even imagine.” he explains. 
You continue walking down a grand hallway with golden walls and stained glass windows that show images of what look like huge monkeys. Small canals flowing along either side of the floors providing the room with a nice cleansing water sound. But then in front of you the room all of a sudden turns black with moss growing around you and a door appears. The door looks sort of what the rest of the area looks like so you decide to open it. To your horror you see all kinds of terrifying things such as crazy obstacle corses with knives and lazers. And all across the football field size room you see cages with terrible creatures lurking inside that are harry, have fangs, and tons of eyes. 
“Okay, lets get to work.” Missile grunts.

*		*		*

For the past two weeks you have been working your socks off doing all kinds of difficult tasks. You sleep on a hard matress that makes training even harder. Yesterday you were doing a bullet obstical corse where you have to make it through a seiries of traps that shoot at you. After you finished that day's challenge (and barely managed to survive), through the vents you heard the manager council (Missile, Oidijoli, Octopoddle, Ohselvin, and some other people you have not met). 
“Do you think it is time?” Oidijoli bellows
“The ones who make it through this will go to our final trial,” Missile mindlessly says.
“Missile, how is Rohjalk doing with his training?” Ohselvin questioned.
“You seem to care about this 'Rohjalk' very much.” Missile grunts. “He is not doing very well with his challenges. They seem too hard for him. But what do I care.” You know this comment is a lie because you have not been doing bad, just mediocre, and the challenges are not to hard.

    {% endfilter %}

    <form action="/page5b" method="GET">
        <p><input type="submit" value="Read on to page 5b!"></p>
    </form>
