<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“Alright Rohjalk my friend! Time to pick! What do you choose?” Fissle exclaims.
“I'm going to try and beat this minigame to move on!” You make a fight pose in case any guards or traps come flying out at you. Nothing happens. 
“Great! Okay. So kid, lets first go this way.” Fissle walks over to the left wall and pulls a lever. CRRRRRRRRREEEEEEEKKKKKKK! A big part of the floor in front of you slides open. You see a slide at your feet.
 “Alright kiddo. Let's slide!!” Fissle proclaims. You sit down at the flat part of the slide and start to slowly inch your way forward to the angle. Suddenly, you lurch forward. Fissle has pushed you down the slide! 
“YAAAAAAAAAAA!!!!!!” You shriek at the top of your lungs. You plung downwards and drop like a stone. You can hear your blood pounding in your ears as you fall down the black eerie tunnel. After some time, you start to slow down. You quickly get up from the slide as soon as you reach the bottom. Fissle arrives 10 seconds later. 
“Was that fun or what?!” Fissle cries eagerly, looking you in the eye. 
“It was crazily scary! I was terrified the whole entire time!!” You explode. 
“Alright, alright. That wasn't part of the minigame. The minigame is, survive for 10 minutes. If you can do that, you may proceed onwards. If you can't, then you will probably die.,” Fissle explains. “You ready?” 
“I'm as ready as I'll ever be.” You murmur flatly. You walk to the center of the room and get into your fighting stance. Suddenly, shurikens from all four sides come shooting at you. You immedietly duck and let the shurikens collide in midair just where your head was. the shuriken fall on your head but don't hurt you except for one of them which has unfortunately cut your hand. You keep at it for a while until there's only 1 and a half minutes left. A screen appears in front of you. You read what it says. Hit the target with an arrow and shoot from behind the red line on the floor. A bow and a sling of arrows drop on the floor. You go to retrieve it. Should you hit the target or not?

{% endfilter %}

<form action="/page14" method="GET">
    <p><input type="submit" value="Proceed and hit the target"></p>
</form>
<form action="/page15" method="GET">
    <p><input type="submit" value="Don't hit the target and tell Fissle that you're done"></p>
</form>

