<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“Okay everybody let's split up! Come'on make it hasty!” you encourage. Your team, a group of the best fighters, follow you down the right exit. The cold grey walls and the rusted banesters seem to following you as well. “This is a stealth mission so no one can make even a peep” you had told them. 
	About a mile down, there is a turn in the hall. As soon as you peek over the corner, a massive voice drawls,
	“THERE THEY ARE!!!”. Right in front of you, what appears is not a monkey it is a rhinosourus the size of an average car with silver armor plating covering his back and face. It has an entourage of small chimpanzees, also equipped with armor and stubby gold rods attatched to a jade compartment at the end. You can hear a faint tiny clinking and buzzing sound comming from the gold rods.
	“PIOOO” a blazing sonic beam rains from the chimpanzee's weapons and speeds through your squad. Thankfully it did not hit any one because when it collided with the wall you could see a burning red puncture hole right where it hit. 
	“Oh yeah! I forgot to mention that they have sonic blasters.” Ohselvin shrugs. “But we also have them if you just twist the handle of your weapon!” You try what Ohselvin instructs and your obsidian sword folds in half and the gold tips cover the entire thing. At the end of your new blaster there is a sphere that has the same little noise as the monkeys'. You hold it out to the Rhino and twist the handle again and a violet streak of light shoots out of your blaster and hits your opponent square in the forehead. A second later he starts to crumple down and shrivel up like there is nothing left in the Rhino's body. 
	“AHHHH!!! He killed the boss!!” a monkey shouts. “Run for it!!!” the monkeys start to hurl up out of the hallway and you and your entourage push forward. “
	“We are gaining ground. Keep going!!!” Ohselvin announces. You are worried of what is to come, but you keep pressing forward. 
	“ON TO THE COUNCIL ROOM!!!” you encourage.

    {% endfilter %}

Keep moving forward to page 23

<form action="/page23" method="GET">
    <p><input type="submit" value="Continue to page 23"></p>
</form>