<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You decide to hit the target. You step behind the red line and take aim. WHOOSH. The arrow moves quickly and swiftly in the air but completely misses the bullseye. It hits the wall instead. You try again but still fail, just closer to the bullseye than before. You try again, and again, and again, until your arms start to fail you. You try one last time. WHOOSH! The arrow hit the bullseye on the dot. 
“YES!” you cheer. Suddenly red lasers form a cage around you and lock you in. You don't realize that they're lasers and think that they're just lights. You try to run through them. ZAP! The lasers chop you up into pieces.








The rest of the monkeys see your chopped up remains after Fissle turns off the lasers and retrieves you.

{% endfilter %}
