<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

It has been a rough night for you. Many things have been going through your mind and it is making you nauseous. Today is trial day and you are not excited. You have been training for what seems like an eternity and you hope it has payed off. 
	“BLEEP BLEEP BLEEP BLEEP BLEEP!!” you hear on the loudspeakers. It is time for the trials. 
	“Hey Rohjalk!” Ohselvin enthusiastically shouts. “Are you ready for today?” his tone suddenly getting dark and gloomy.
	“No, I don't think I am ready,” you admit.
	“Let's go to the starting positions.” he tells you. You and all of the remaining trainees clump together towards the front of the gate like a pack of sheep. Screams echo beyond the gate and you can hear the faintest sound of knives grinding. 
	“TEN! NINE! EIGHT! SEVEN! SIX!” the numbers count down. “FIVE! FOUR! THREE! TWO! ONE!” and everyone is off. In your hand there is a bronze hammer with diamond spikes imbedded in its sides. At this moment you realize that this is not just a competition against the trial, they expect you to fight each other to survive. 
	“Come on Rohjalk let's get going!” Ohselvin insists. You start to run but there is a fork in the road. You don't know which way to go so you ask Ohselvin.
	“Which path should we take?”
	“Let's try the right one.” he guesses. You start to jog down the right path, but as you get a couple feet in, you hear a slash behind you. Ohselvin has a sword right up to your neck. You can feel the tip just barely. 
	“I am sorry Rohjalk, but this will be less painful than when you get killed later in the trial. Goodbye.” In one sharp slash, the sting of the blade pierces through your neck. You start to loose consciousness and everything goes black, but in your last moments, you can see Ohselvin hold the same blade, coated in your own blood, up to his heart. 
	“This is the right thing to do,” he stammers. “On the count of three.” he tells himself. “One. Two. Three.” The blade forces it's way through Ohselvin's body and comes out the other side. 
	“I-it was nice kno-owing you.” Ohselvin manages to blurt out. He falls to the ground. No heart beat. In a way Ohselvin's actions are very courageous and kind. He killed you to save you from a worse death. You have not every found a meaning to your life, but now you see it. Your purpose was to know Ohselvin. Destiny decided this fate. This was meant to be. Your eyes shut. It is all over. The misery, the pain, it is all gone now. 

The End

{% endfilter %}