<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You walk down a long cold corridor. You reach the end after what seems like an eternity. 
“What are the Preparation Managers like?” You whisper. Ohselvin strides towards the double doors. 
“Oh you'll be fine! There's nothing to worry about! C'mon! Let's go.” Ohselvin pushes the double doors with both hands. 
“WHO IS IT NOW!!!??” A loud gruff voice bellows. You flinch and take a step back. You slowly walk through the door. Three great big figures emerge from the bright shining light. Currently, you can only see their silhouettes. Ohselvin saunters up to them and puts his hands on his hips. 
“Tada! These are the three great Preparation Managers!!” Ohselvin says, pride in his voice.
 “Is this the runt one of us have to train up? We already have so many trainees!” The first one says. The first Manager is a big burly silverback gorilla with an old looking face that seems that it has been through more than it he can handel. He stares down at you as you gaze up at him. “I'm Missile,” He says in a low voice. 
So you have met Ohselvin,” says a cracky high pitched voice. 
“Yes Octopoddle, I brought him here. This is Octopoddle by the way, Rohjalk.” Octopoddle looks like an oversized lemur that has little golden flakes across her midnight black fur. Her eyes sparkle like stars and her black and white tail is looped across the lemur's neck, like a scarf. “H-hello,” you stammer. Octopoddle appeared skinnier one but still huge compared to you, speaks up. 
“I'm Octopoddle. I'm here as one of your three choices for being your Preparation Manager!” Octopoddle seems more nice and friendly than Missile is. Still, you know that you have to train hard because the trial is life or death. You turn to face the third and final Preparation Manager.
“My name is Oidijoli (Oy-Di-Jolly). I'm another one of your three choices for your Preparation Manager!” Oidijoli is a perfectly fit and healthy looking mandrill. His face is bright red and blue with large silver fangs and is about as big as van. You have never seen anything like him. His appearance reassures you that he'll be the right teacher for you. 					


{% endfilter %}

<form action="/page7" method="GET">
    <p><input type="submit" value="Oidijoli all the way!"></p>
</form>
<form action="/page8" method="GET">
    <p><input type="submit" value="Octopoddle is the way to go!"></p>
</form>
<form action="/page5a" method="GET">
    <p><input type="submit" value="Missle is DAGOAT!"></p>
</form>
<form action="/page11" method="GET">
    <p><input type="submit" value="Pick no one and RUN!"></p>
</form>