<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“Alright Rohjalk!! Time to choose your Preparation Manager!” Ohselvin cries. 
Your heart races. You can hear it pounding in your ears. The rush of wind around you. I choose…” You gaze at all three of them. “I choose Oidijoli.” You say flatly. 
“Woohoo! You and I are gonna be best buddies Rohjalk!” Oidijoli exclaims. You smile at him as he smiles back. 
“Let's go. We're gonna start right now!”


*		*		*

Weeks pass as you train with Oidijoli. You do push ups, sit ups, squats, stretches, obstacle courses, and more. 
“Alright. Next week is when the trial will take place. I have one test before I allow you to proceed and partake in the trial. It will be a test trial. A preliminary round, though it's only going to be you.” Oidijoli announces.
 	“Ok! I'm ready for anything!” you say, bursting with excitement. 
“Alright Rohjalk. Here it is. Get to the green flag and you pass!” Oidijoli booms. 
“The green flag is past that maze in your sight. There are many dangers so be careful!” Oidijoli warns. 
“I can do this no problem!” You say. You approach the maze entrance cautiously. 
Lesson #1: You can never be too carful! Oidijoli's words pulse in your mind. You enter the maze. You follow the path until you reach a fork in the road.

What should I do? Which way to go? You think. Which do you choose?


If you choose to turn left, go to page 9
If you choose to turn right, go to page 10
If you choose to keep going straight, flip to page 12

{% endfilter %}

<form action="/page9" method="GET">
    <p><input type="submit" value="Go left"></p>
</form>
<form action="/page10" method="GET">
    <p><input type="submit" value="Go right"></p>
</form>
<form action="/page12" method="GET">
    <p><input type="submit" value="Go straightforward"></p>
</form>