<body style="background:#FFC0CB"; text="Green"></body>

{% filter markdown %}
You May Begin!!


You are an 11-year-old boy named Rohjalk (Row-Jalk) living on the planet Oljefo’il (O-Jeff-O-ill) in the capital city of Wimckidinkle (Wim-Kid-Inkle).  You live a simple unembellished life with your family in the year 9203.  It’s morning, as you wake up and yawn, 
“Morning mom!”. You look around, surveying your surroundings. 
Where the heck am I? You think about how you normally wake up in your bedroom with blue walls, a desk, warm covers, a soft pillow, and a carpet. But then it all comes flooding back and you remember what happened to your parents. This is not even the place you had been staying in to survive; a make-shift tent under the bridge that you used to skateboard across with your family. 
“Finally up, I see…” a cold voice drawls. 
“Who are you!?”, you shriek.
 “Oh. I’m your captor,” he teases. “You see, you and others are going to have to go through a trial. We don’t know what it’s going to be but it will determine whether they spare your life or not.” A boy a bit older than you emerges from the shadows and stares down at you gleefully. He is dressed in black and blue robes. His messy dark brown hair reminds you of your dad. His unnatural black eyes reflect off of the little little light in the room.
“The council is waiting outside for us”, he explains. The room is small and you see two exits. One is a big round door with no escaping light at all and cobwebs plastered on the wood. The second one is a path that looks sketchy. It’s dark and gloomy and you can’t see too far ahead. “I’m going to get you some water…HAHA!!,” says the boy.  You think you should run, but what if it’s a trap? Or maybe he’s going to spike some of that water he’s going to give you? Your heart is beating rapidly. You are very terrified about the whole situation. Your thoughts are whirling up inside your mind. What do you choose?

{% endfilter %}

<form action="/page2" method="GET">
    <p><input type="submit" value="Run down the path, exit two!"></p>
</form>
<form action="/page3" method="GET">
    <p><input type="submit" value="Stay and trust the boy"></p>
</form>
<form action="/page4" method="GET">
    <p><input type="submit" value="Run to the doorway, exit one!"></p>
</form>


If you choose to make a run for it down the path, exit two, read on to page 2. 

If you choose to stay and trust the boy, flip to page 3.

If you decide to start running towards the doorway, exit one, flip to page 4