<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

The blood rushes to your head. You can hear everything from the screams across the wall to the beat of a fly's wing. Wind blows through your hair. You know what is to come and you do not think you are ready. You get handed a blazing sword with an obsidian tip and a diamond handle. 
	“TEN! NINE! EIGHT! SEVEN! SIX!” the count down starts. “FIVE! FOUR! THREE! TWO! ONE! GO!!!” the gates open, but nobody moves. 
	“What are you doing!?” a monkey gaurd screams. 
	“We are starting a rebelion.” you couragously say. “ATTACK!!!” with theese weapons you feel bigger and stronger than before like you can do anything in the world. Like a giant compared to ants. A siren blares over the sounds of fighting as a dozens of monkey soldiers start to flood the room. You jump over dead corpses of both sides of the fight. The monkeys are twice as big as you, but their weapons are made of iron. You are deep in a battle with one of them. You slash from the side but they perry it with an upwards strike. You two go back and fourth, up, down, right, left. Just then he spears his sword out to try to stab you, but in one slash you knock the sword right out of his hand and throw your sword into the opponents heart. 
	You have practiced killing before in trainning with dummies, but have never killed in real life before. It feels horrible like a peice of your heart falls out. You try to let this feeling go but it won't leave. This is something that you have to do if you want to survive in this situation. The trainees keep pushing forward and eventually you have made it to the exit won the battle. It feels as if you have not only completed one part of the mission but boosted your morale to. Honestly, you didn't think you could win this battle at all. You all have to still keep pushing forward. 
“Everyone get into your sections!” you announce.
“Where should I go?” Ohselvin askes, his clothes tattered and ripped with splattered blood all over his T-shirt. 
“You can stay with me! I'll need your experience too.” you reply. And you know that is not the only reason you want him to come. You need his encouragement to keep moving forward. With your family gone and being by yourself, you have never had anyone to count on. It has always been just you alone. Now you face a different question. You have heard the managers mention a control room where they have the location of everyone in the city. Maybe it would help you find your parents. But on the other hand you are still trying to escape this place and you are responsible for everyone here. What do you choose.

If you choose to go to the control center, flip to page 20
If you think that it is more important to get out of the monkey maze, continue to page 22

{% endfilter %}

<form action="/page20" method="GET">
    <p><input type="submit" value="TO THE CONTROL CENTER"></p>
</form>
<form action="/page22" method="GET">
    <p><input type="submit" value="Continue to page 22"></p>
</form>
