<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“Ummmm…” You mutter as everyone in the room looks at you eagerly. “I choose…” Out of the corner of your eye, you see a vent. You decide to just make a run for it and look for your lost parents. “I can't do it! I won't, I won't, I won't!” you scream. All the stress and tension in your brain makes you release a tantrum. You dash to the vent. 
“Hey! Seize him!” The guards yell. You reach the vent and open it. You take a giant leap and start crawling as fast as you can through the small narrow tunnel. 
“Wait up!!” You hear Ohselvin cry. He starts to crawl along with you in the dark vent. You move faster and faster and faster. Ohselvin matches your every pace. 
You keep moving until you hit a dead end. “KILL HIM!!” you hear the guards scream. One of the guards shoots a bullet that narrowly misses Ohselvin. It speeds towards you and you don't even have time for any last words.





Your corpse is tossed into the ocean due to your popularity as a dishonest cursed boy.

{% endfilter %}