<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You decide to make a run for exit two.  The young man has concealed himself in the dark black shadows. You quietly tiptoe away from the area and start to sprint towards the exit.  
“HEY! COME BACK HERE!!!!!” the boy screams.  You hear him chasing after you and glimpse him pulling out a walkie-talkie at the same time.  “Dangit Dangit Dangit!” You think. 
 “Get away from me! I don't want your poisonous water!!
“Get back here, it's not poisonous!”, he yells.
The closer you get to the mouth of the exit, the more slippery it gets on the ground.  Gravel shakes in your shoes as you run. 
	“That's not an exit!!!,” your acquaintance exclaims rather loudly.  You immediately decide not to listen to him.
 “I'll get home soon enough.,” you think.

The blackness gets closer and closer.  Then, you take your next step but you feel nothing but air.  You look down. It's a drop. 
 “YAAAAAAAA!!!!!!!!!”. SPLOOSH! You can feel the intense heat and pain of landing in a pit of lava.  Its fiery touch scorches through your whole body as you slowly sink, but the lava that you think you are in, is.. is wait this is not right.  The lava is some strange color of vibrant yellow that lights up the entire pit.  “Oh well” you think. “This is the end.”.

The guards come later to find your burned bones melted into the earth.

{% endfilter %}