<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You decide not to shoot the bullseye because you think something bad will happen if you do. You saunter over to Fissle. Fissle looks up from his banana. 
“Hey Fissle? I think the 10 minutes are over.” You say.
“Good job! You outsmarted the trick! If you had shot that target, you would've ended up dying!” Fissle says giddily. 
“I would've?! I'm so awesome!” you shout, doing a little victory dance. 
“Alright dude. You passed! Lets go back up!” Fissle says excitedly.
“Okay!” you reply joyfully. You follow Fissle to an elevator at the back of the room. You enter the elevator and the doors close. As you slowly travel upwards, you start to think about what might be in store for you. What dangers you might encounter. Suddenly, Fissle starts to try and pull of his head. 
“What are you doing!?” You scream, backing up. Then, Fissle's head pops of like a costume, only it is a costume.
“Ohselvin!?” What are you doing here?” You ask. 
“I snuck into the maze! I took care of the real Fissle. Knocked him out with a sleep inducing solution!” Ohselvin says triumphantly.
“AHEM!! WHAT THE HECK ARE YOU DOING HERE OHSELVIN!!!????? YOU SHOULDN'T BE HERE!!! GET OUT! ALRIGHT, I'M OFFICIALLY PAUSING THE PRELIMINARY TRIAL!!! GUARDS!! FETCH THEM AND BRING THEM BACK HERE! I NEED TO TALK TO THEM!!” Oidijoli's voice blares over the whole maze and building. A group of big monkeys crawl over the wall and start to jump at you. You cower in fear and start to sprint for your life. A second platoon of monkeys jump at you from the front. Now you're trapped and you have nowhere to run. You get crushed at the bottom of a puppy pile. Out of nowhere, a deceptive monkey fist punches you in the face. You get knocked out and everything starts to go black. 

{% endfilter %}

<form action="/page16" method="GET">
    <p><input type="submit" value="Continue to page 16"></p>
</form>