<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“So maybe we should give Rohjalk a pass on this test and let him go straight to the final trial.” Ohselvin says. 
“Hold it right there!” screams Oidijoli. “Some of our other trainees are not doing well also and we are not going to just give them a pass for our qualifiers test!” 
“Oh well then continue on.” Ohselvin sighs. 
“So which creatures should we use?” Octopoddle asks. 
“Why don’t we make it challenging this year and use the Yafyat (Yah-Fee-at).” Missile answers proudly.
“No, we can’t do that,” Ohselvin pleads.
“Very well then,” one of the other council members named Gongli states, “We shall have a vote. I’ll start off first. A yes to the Yafyat from me.”
“I second that!” exclaims Missile.
“A third vote from me!” responds Oidijoli.
“Same here,” says one of the other members.
“I agree to,” someone else answers.
“Okay, anyone else? Well then, it is now five against three.” Gongli shares with the group. “Octopoddle, Ohselvin, and Sahvo (another council member), do you have anything to say?” 
“Yes actually!” Octopoddle says with pride. “If the trainees all die in this qualifying test there will be no one left for the actual trial!” he explains.
“You do have a point, Octopoddle.” Oidijoli confesses. “How about instead of killing the Yafyat, they just have to escape to the room the Yafyat is gaurding without getting killed.” 
“I think that is a much better solution.” Sahvo agrees. “It is settled then.”

This comes as a huge shock to you. A scared feeling shivers down your spine and you seem temporarily parilized. Your heartbeat increases. Sweat drips down your forehead and the temperature in the room seems to increase unnaturally. You fear what is to come next. 
	
	{% endfilter %}

<form action="/page17" method="GET">
    <p><input type="submit" value="Go to Page 17"></p>
</form>
