<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You look toward door one. The boy is eating his sandwich in the corner of the room adjacent to your exit. You decide to take the risk of being caught by the guards outside. 
“My name is Ohselvin by the way,”. 
“Okay Ohselvin I am Rohjalk.” Just knowing the boy's name makes you even more unsure about running away, but all you do is want to get home so you go for it. 
You jump off of your cot and make a run for it. Ohselvin sees what you are doing and makes a move to tackle you but you somehow manage to dodge it. “No Rojhalk! It's not safe out there!!!,” he says. You turn around one more time and the look on Ohselvin's face is sheer worry. But before you think about what you are doing, you trip and the door flies open. 
“What's going on in here!?,” says a raspy voice over top of you. “It's time to get ready anyway.” This guard is no human; he is a monkey! 
“Oh right, I forgot to tell you,” Ohselvin says. “The designers and managers of the trial are all Monkeys!”


{% endfilter %}

<form action="/page6" method="GET">
    <p><input type="submit" value="Go to Page 6!"></p>
</form>

