<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You start to think. You really want to get out of the monkey palace, but it will mean nothing without your family there with you. 
	“Hey Ohselvin! Can you come over here for a second.”
	“Sure!” he replies.
	“Isn't there a control room where you can find anyone in the city somewhere in here?” 
	“Yeah! There is!” he says enthusiastically. “It is near the council room. Why are you asking though.” 
	“There is something I need to tell you. I am going to try to find my parents, but I need your help. Keep in mind that you can definitely say no, but I would really appreciate if you helped me.” you plead.
	“You know what. I'll help you, but this is a very dangerous mission so you have to be careful.” he agrees. 
	“Thank you so much! That really means a lot to me.” 
	“Okay, step one of the plan: getting to the control center.” Ohselvin announces. “Follow me.” he says. You start to creep toward the nearest exit and when you finally get there you start to get really excited. 
	“This is no easy task Rohjalk. There will be patrols everywhere because of our revolt so we will have to sneak by them.” he instructs. You move out on to the left hall that you remember Ohselvin brought you down on your first day here. Now two months have passed and you are doing the same thing again just for a different reason though. 
	“Hold it!!” Ohselvin shouts as a squad of monkeys march by. You just barley make it through without any of them seeing you. Hall by hall, you and Ohselvin sneak by all of the monkey guards and make it to the last turn. You can see the door to it. It is a pure obsidian door that is lined with gold rims. You could not miss it if you tried.
	“Come'on lets go!” you cheer. You both start to run down the hall, but when you make it to the door it seems to be locked. 
	“Step aside!” Ohselvin beams. “I have a key card!” He scans the key card and the two of them move in. 
	“Hey what are you doing here??!!!” a monkey scientist screams. 
“Quickly!” Ohselvin blurts at you. You run up to the scientist and double kick him in the teeth, knocking the monkey out. Ohselvin rushes to the computer and starts typing. “We need to do this quickly” Ohselvin had said. “We need to get back to the trainees. They might need our help.” Ohselvin shakes his head in disapproval and slumps in his seat.
	“I-I am so sorry Rohjalk.” he mutters.
“What is happening?!” you scream. You run to take a look. The results are final. Your parents are both dead. 		

1. Flip to page 23

{% endfilter %}

<form action="/page23" method="GET">
    <p><input type="submit" value="Go to page 23"></p>
</form>
