<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You decide to turn right. The words of your trial manager play in your head over and over again: 
“You can never be to careful and do not trust anyone.” You keep walking and walking and walking until you find yourself a door on your left hand side. You open the door and enter what looks like a bedroom. You see an old man with a shaggy white beard sitting by the side of the bed. He looks up from drinking his jasmine tea.
“Hey there sonny!” He croaks. You look at the old man and start to approach him. “So you're here for the preliminary trial huh?” he chuckles. “Come sit down. There's a chair over there by the table.” he says slowly. You pull up the chair and take a seat. 
“Tell me about your life sonny.” the man says. You go blabblering on about how your parents got taken and how you have been on your own. You drink some jasmine tea and eat a few wafers. You freeze in your seat and fold your hands. Then you walk over to the rusted sink, turn on the faucet and start to wash your hands. With your back turned, you are vulnerable to attacks and that's exactly what happens. The old man pulls out a scythe, hooks it around your neck, and slices your head off with one smooth cut.


A few years later, archaeologists discover your severed head buried in the ground.

{% endfilter %}