<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You and Ohselvin stride gracefully towards the smooth brown double doors. You open them and a bright light shines from within. Clean white walls with chandeliers dangling from the ceiling, decorated with emeralds, diamonds and rubies. The council greets you happily. You and Ohselvin take a bow. 
“We are very excited to serve you Master Rohjalk, Master Ohselvin!” The council chorused. Suddenly, the wall crumbles down. Concealed in the smoke, Oidijoli's silhouette is visible. Oidijoli stands holding a detonator.
“YOU ALL WILL PAY FOR BETRAYING ME!!!!!!!!!!!!!!!!!!!!” Oidijoli cackles maniacally. He clicks the button. Everything becomes eerily silent. Nothing implodes. Then, a box with a timer on it starts to tic. There's ten seconds until everything around you explodes. loud voice blares around the whole room, 
“10! 9! 8! 7! 6! 5! 4! 3!” You tremble in fear. You and everyone on your side start
to run, but then at the end of the count down a two minute countdown starts.
“2 minutes until we implode! 1 minute 59 seconds! 1 minute 58 seconds!...” The speaker cries.  Everyone starts to run. You and Ohselvin help save the elderly from the bomb. 
“1 minute 9 seconds!” you only have a minute to get out! Ohselvin rushes out of the hall and starts to carry out the wounded. 
“EVERYONE EVACUATE!!”
	“37 seconds!” Ohselvin is still too close to the bomb. Oidijoli tackles him.
“3! 2! 1!” “BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!”
You open your eyes and see Ohselvin lying on the ground with cement around him. Oidijoli pulls out a dagger. His dagger is steel crested with bright emeralds.
“If you're not dead yet, I'm going to kill you with this blade!!!” Oidijoli screeched sourly. “NOOOOO!!!” Oidijoli raised his arm and thrusted it forward into Ohselvins heart. Blood spurts everywhere. 
“Your next!” Oidijoli taunts. All the rage in the world fills up your body. Oidijoli pulls out the dagger, stained with Ohselvins blood. You go wild and attack Oidijoli. He's taken aback. You pull out your sonic blaster and take aim. You fire the blaster just as Oidijoli throws the dagger. The power of the sonic blaster takes out the dagger and turns it into a pile of dust. The sonic blaster hits Oidijoli with full force and ruptures his intestines and vital organs. He falls to the ground dead with no last words. You leave the great battle field. This adventure is over. 




  One year later… 
*		*		*


You walk over, covered in vibrant colored robes, visiting Ohselvin's grave. You sit down and watch the briny waves rise and fall in the sunset. “At least it's all over,” You murmur.


THE END

{% endfilter %}