<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

“Up and adam everyone!!” Missle shouts. “Today is trial day! Now get to breakfast!” That insane idea is pounding in your head, “Do it, do it, do it!” It is decided. You will tell everyone about the revolution during breakfast. This is a extremely dangerous idea and you know it, but it is either this or death. You get out of bed to see Ohselvin right next to you with tired eyes. 
	“I slept on the floor, he yawned. “I got all of my special privileges taken away.”  
Ohselvin sighs. 
	“I need to tell you something Ohselvin.” you state. 

	“Okay. I understand. Come on, lets go tell the others.” Table by table you and Ohselvin tell each of the surviving trainees about the plan. Almost all of them decide to work with you. 
	“Here is the plan. We are going to start a revolution. First, when they set us up for the trial they will give us weapons to defend ourselves against the challenges, but we will use their own weapons on them. All three teams (Missile, Octopoddle, and Oidijoli's groups) will attack a different spot in the mansion. The resistance of the monkey gaurds will be very high and many of us may not make it out alive, but with all of the trainees, we have about one hundred fifty people. With our skill and numbers, we have a chance to prevail. If everything goes as planned, we will regroup in the mess hall and strike an attack on the council room. This is going to be very dangerous so if you would not like to participate, now is the time to leave.” 
	“We all want to get out of this place and this is probably the best way to do it.” a pier announces. 
	“Yeah! We are all in this together!” 
	“BEEP BEEP BEEP!!!” you all hear. “Let's go everybody. Be strong.” you encourage. You walk to your starting area like everyone else. On the other side of that wall is somethink terrible and you hope you do not have to experience it. It is time for the trial. 

    {% endfilter %}

<form action="/page21" method="GET">
    <p><input type="submit" value="Go to page 21"></p>
</form>