<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You decide to stay and drink some water. Your throat is dry anyway and it will help quench your thirst. 
“Here you go,” the boy says as he kneels down and passes you a cup of water. You drain it in seconds. “HehHehHeh! Looks to me like someone hasn't had enough water for a while!,” he says. You stare down at the ground. It's true. Your parents were actually taken by a gang of robbers. You couldn't afford to buy anything and you didn't know how to boil water. “Eat up!,” he says cheerfully. You eat quickly with large bites, trusting the man in front of you more with every bite. “I”m Ohselvin, what's your name?,” Ohselvin questions. 
“I'm Rohjalk,” you say, looking up from your sandwich. 
“Well Rohjalk, it's high time I took you to see the preparation managers. They'll help you get ready for the trial!”. 
“Really? They'll help me? Is the trial that hard and serious? Who are they? Do I have to pick one?,” you negotiate anxiously.
“Oh yeah. This trial is nothing like anything you've seen before! You could easily lose your life when partaking in the trial if you aren't careful enough. It's happened before. Heart attack, suffocation, loss of blood, head chopped off, poisoning, falling into an alcohol pool that's covered by a trap door so that you don't smell any…,” Ohselvin glibly lists.
“Could you please stop?” you implore him as the sound of a head being chopped off sends a shiver down your spine. “Excuse me for a second,” you limp away, gagging. Will any of those happen to me? you ponder. 
“Come. Let's go meet the preparation managers now,” Ohselvin says.

{% endfilter %}

<form action="/page6" method="GET">
    <p><input type="submit" value="Go to page 6"></p>
</form>

