<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You decide to make a left turn. You walk down a winding path that seems to lead to nowhere. Finally, you reach a light that pierces the darkness around you. You walk closer. It's a dead end. A giant oversized spider bigger than you are creeps up from behind. You're trapped between a wall and a big hungry spider. SHING! Spikes emerge from the wall with a flourish. The wall starts to move towards you. The spider acts up as well. The spider screeches and charges at you. You dodge twist and turn until you've been caught in one of the spider's eight hairy legs. The spider slowly raises you to its mouth. 
“AAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!” You shriek but it's no use. You've been devoured by the big fat spider. It's fangs slowly and painfully piercing through your skin injecting it's deadly poison.





You've been eaten by a spider and found in a million years in the form of spider feces (spider poop).

{% endfilter %}
