<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}

You wake up in a room, seeing a chandelier hanging right above your head. You bolt up and look around the chamber. Beige walls surround you from all four sides with a white ceiling on top. A checkered floor takes up the ground where you stand. You look out the window and see Oidijoli sitting of a tree and eating a banana. He turns to face you. Ohselvin wakes up beside you. He looks around dizzly.
 “Captain Oidijoli?” He says. He refocuses himself and sits up. “Oidijoli! Is he around?” Ohselvin scans his surroundings hurriedly, trying to make sure he wasn't caught. 
“Young man, do you care explaining yourself? Why did you sneak into Rohjalk's qualification test?” Oidijoli drawls calmly. 
“I just wanted to ensure Rohjalk's safety. That's all,” Ohselvin confesses.
“Well guess what!? I just spoke to the council about it and all of them agree that you will have to partake in the final trial as Rohjalk does. If you fail, you die. If you pass, we spare you and you live. Is that clear!?” Oidijoli explodes. Ohselvin sits there, stunned. 
“Y-yes. I understand sir,” Ohselvin mutters, in shock. 
“Alright. The real trial shall take place tommorrow at noon. Be there.” Oidijoli swings out of the room and disappears in the wilderness. 
“Don't worry Ohselvin! Now we can help each other to pass the trial!” You try to cheer Ohselvin up but it does no good.
“No, Rohjalk. Even attempting to do the trial seals your fate. You die. It's a 99.99% chance you will die. 
“No one has ever passed and lived doing the trial before. We're both going to die.” Ohselvin admits. 
“Trust me, I will find a way to make it through alive,” you ensure. But in your mind, you are stressing out because you have no idea to save the both of you.
“Now go back to your quaters, dinner is soon. It will be a fun day tomorow, I can't wait!” Oidijoli laughs.

That night, in your cot, an idea comes to your head. It is an insane, crazy, not-possible idea, but it gives you a chance. You want to start a revolution. 

{% endfilter %}

<form action="/page18" method="GET">
    <p><input type="submit" value="Follow your gut and carry out the revolution"></p>
</form>
<form action="/page19" method="GET">
    <p><input type="submit" value="IT'S TOO CRAZY"></p>
</form>