{% filter markdown %}

You walk back to the lodge, and you remember that something is going on in the lodge. You go onto the dirty, never-used road, into the gravel front yard, and through the broken door. You study the lobby. 
You see the man who greeted you, and three more people: two guests, and a woman standing by the door, saying, “Right this way for the big event!” you think you recognize that voice, but from where? You shuffle into the room. It is big, with ten seats. In case of a necessary escape, you look for exits. There is a window in the corner and you sigh in relief. You brace yourself in case you need to escape. The door gets locked, and the woman steps outside. Machines whir above you. You hear choking and start to choke yourself. 
Someone screams, “Poison gas!” 
You yell, “Out through the window!” You all run and try to fit through the window, first Stan, then you, another person, but the fourth slumps over and dies. 
You feel terrible inside, but you tell them, “Let’s keep moving.”
You run through the mountainous woods, not stopping until…actually, you’ve stopped three times because everyone is thirsty. Your mind flashes back to your childhood when you went to Boy Scout camp. you didn’t like it, but it was ‘the best way to teach our child about nature’,  according to Father. You went two summers to be in the woods, never stopping for a break as you ran through the woods. You don’t see when it happens, but all of a sudden, Stan disappears. Then in a flash of black, you are knocked out, with something to the head…
When you wake up, you see a silhouette over you. On one side of you, you see Stan, and on the other, you see the other guest from the humble fruit lodge. The silhouette steps closer to your bodies. 
You try to ask where you are, but you stumble, so it sounds like, “Whwhereere am I?” 
The person puts a flower in your face. You fall asleep again. 
This time you wake up in a chair, face-to-face with the person. She looks like an FBI agent on TV shows, dressed in black, with sunglasses. 
She says, “Sorry I put you through this trouble, but it’s necessary for the job. Let me explain. “
You yell at the person. “What are you doing to me???!!!” 
She just responds, “You are in our headquarters. “
You start to calm down. “For what? Why?”
“Stopping places like the lodge you were staying at.” Then the woman just abruptly says, “Will you join us? Answer now.”
You have to respond. But how?

{% endfilter %}

<form action="/path1211" method = "POST">
    <p><input type = "submit" value = "say yes" /></p>
</form>
<form action="/path1212" method = "POST">
    <p><input type = "submit" value = "say no" /></p>
</form>