{% filter markdown %}

You decide to fight it. You start to back up, and then you run over to punch it. The cougar just jumps at you and slices your shirt, and your backpack falls. Of course! The backpack! You pick it up and start swinging, and you hurt the cougar a little. you hit through your tears. you need to make it back.* You punch and kick the cougar, trying to stay alive. but it isn’t enough and the cougar jumps at you, trying to tear you apart and get its lunch.
“I–” Smack “Will-” Whap! “Be your–” Punch! “LUNCH”, you say while hitting the cougar, but the bloody cougar snarls at you. You have to run. You run as it pursues you, and eventually, you lose it. It takes a while, and you are very tired. You just want to sleep…

{% endfilter %}

<form action="/pathdeath" method = "POST">
    <p><input type = "submit" value = " continue" /></p>
</form>