{% filter markdown %}

You wake up in a dark room. A door opens, and you see the man from the entrance. 
Another voice says, “Good job, Jerry. Now we have the escapee. Where did you find him?”
“In the woods, Boss.” 
“Ok,” the other person says and closes the door.”
You start to remember. You fell asleep…did someone make you fall asleep? You remember you escaped a lodge…
Your thoughts are interrupted by the other person opening the door and closing it. You can’t tell what’s happening, but you see that the person is a woman, with black hair, wearing a dress.
Then she stabs you with a knife. You weren’t able to escape in the end.

#The end
###You failed in the end.

{% endfilter %}

