{% filter markdown %}

I’m Falindy,” she says, then points at the other woman, “That’s Margret, and that’s,” pointing to the man,” Hanord.” 
“Thanks for letting me in,” you say. You are with them now and not planning to leave soon. You get to know them, and you adapt to their hunter-gatherer life. Wake up early, get food, eat, get more food, relax, eat, sleep, repeat. But a week from now, they get hungry, but food is hard to find. One day, you decide to sleep in.
The last thing you remember is waking up from immense pain, and Margret telling Hanord, “We’ve got a meal,” and feeling a knife in your heart.

#The End
###You trusted too much.

{% endfilter %}