<style>
    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

{% filter markdown %}

“Ok. show me,” you say. This time the man stays quiet. The man grabs you by the sleeve and starts bringing you toward a door. It’s different than all the other doors. It’s dark wood with metal surrounding it. In the wood of the door, there are many beautiful carvings. On the door, though, there is a KEEP OUT Sign. It’s red instead of yellow, like...blood, you think. It can’t be real blood, can it? What could be in that room? You are certain it is not good and hope fiercely that you will not die here. You break out of your thought and realize that the man is still holding your sleeve. You yank your arm away from him and say, “ I can walk myself!”
He just responds, “Get. In. There,” with a tone you hadn’t heard before. You’re scared of him now. He sounds like a criminal. He is exactly like the criminals you imagined were in the lodge earlier. You hold your breath as he opens the door and pushes you in. That’s when he says, “Enjoy the show,“ in a light and mocking voice and locks the door before you can get out. There is nothing you can do now, you realize. You should have made a run for it. Now you’re stuck in a small room. You start looking at the room, hoping you can find a way to escape. Unlike the door, it is just a plain and ugly room. The entire space is concrete, with one metal table with a light bulb connected to a battery, which is your only source of light. And that’s when the light flickers off, followed by mechanical sounds whirring. Next, you start to choke. You don't realize it’s poison gas until you have almost no life left in you. It is not long before you cannot feel anything and surrender to the darkness.

#The End
###You died. You underestimated their evilness.

{% endfilter %}

<body><Body background="{{url_for('static', filename='dead.png')}}" text="#ffffff" ></Body>