<style>
    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


{% filter markdown %}

You don’t think about anything as you jump and kick the man in the face and start to run. You run towards the exit sign, but then the man jumps at you with a knife. You try to dodge him, but he cuts some of your skin! You wail in pain. You were born rich and pampered and never felt too much pain, and he just cut you. You are good in moments like these, though. You grab the sword and attack the man. you only slice through his shirt, but it is enough to make him back off. You feel accomplished as you run towards the exit, free. You look back, but for some reason, he is smiling. </p>
Why is he smiling, you think, but then you tip on a wire and fall into an opening trapdoor in the ground. The last thing you see is his smiling face. “You lose, and we win.” he cackles right before the trapdoor closes again. You fall deep into the earth, in silence and darkness, until you splatter on the ground.</p>

#The End
###You died, but you got to fight!

{% endfilter %}

<body><Body background="{{url_for('static', filename='dead.png')}}" text="#ffffff" ></Body>