{% filter markdown %}

“Ok,” you say. “I don’t know what this is, but I’ll join.”
“Good,” she smiles. She clicks a button and you plummet into a trapdoor. You fall into a mountain of pillows and see Stan. 
“Did you also say yes?” Stan asked.
“Yeah.” You say. You sit on a pillow, and that is when you hear the loudspeaker. 
“There are three doors in front of you. One has a death ray that runs on electricity, and once it’s on, you can’t escape. 
The second has a piece of zombie fungi, modified for humans, ready to infect you. 
Door number three has a high voltage discharger, meant to turn off electricity, but it has the side-effect of shocking you to death. Someone went there earlier today and died. What will you do?” asks the voice behind the loudspeaker.

Is this a real-life escape room? Where are you trying to go? you just need to choose.

#To Be continued...

###I will finish soon.

{% endfilter %}
<!-- <form action="/path12111" method = "POST">
    <p><input type = "submit" value = "Door 1" /></p>
</form>
<form action="/path12112" method = "POST">
    <p><input type = "submit" value = "Door 2" /></p>
</form>
<form action="/path12113" method = "POST">
    <p><input type = "submit" value = "Door 3" -->

