{% filter markdown %}

You tell Stan, “We should abandon the guide and follow them.” 
“OK,” he whispers back. Soon, the tour guide got a text message, and you escaped while she checked her phone. You and Stan run, but the tour guide finds you. You and stan clearly panic and end up running in different directions. You are alone now. You watch as you see Stan run out of your sight, for what might be forever. The tour guide stumbles after him. You found a friend, but you only had him for about an hour and a half. You feel tears running down your cheeks. You are alone, you are lost, and you are hopeless. What can you do…. All of a sudden, a cougar jumps at you. You see it in slow motion. You see the head going over the hill, it landing, and the claws almost slicing you. What do you do? Are they like bears? like lions? like cats? What do you do?



{% endfilter %}

<form action="/pathc12" method = "POST">
    <p><input type = "submit" value = "fight" /></p>
</form>
<form action="/path111" method = "POST">
    <p><input type = "submit" value = "or flight " /></p>
</form>