{% filter markdown %}

You tell Stan, “Let’s follow the tracks.”
“No,” he responds. “I’m going back to the lodge to investigate.”
You try to refuse, but he says, “I think we should split up. Meet back in front of the lodge.” You split up and run as you follow the tracks. They are hard to follow, going through mud and bushes, but you keep following. You think you are going in the opposite direction of the lodge. After a while, you see three people, hunting. They are wearing ragged clothes, and they look unhealthy.  
“Hi,” you say. They all jump. 
“What are you doing here?” the man says.
You respond, “I just escaped from the lodge over there. And I found tracks.”  
“Okay.” One says, “You can join us…for now.”

{% endfilter %}

<form action="/pathcave" method = "POST">
    <p><input type = "submit" value = " continue" /></p>
</form>