{% filter markdown %}

There is something suspicious about everything, but you keep walking with Stan. The tour guide leads you over to the end of the trail as you start to walk back, you decide to start a conversation. Time to learn about what she knows. 
“When did you get this job?” You ask.
“Well, I've been taking people on hikes for years, but this lodge hires a different person every time.”
Okay. So she doesn't know. You hope that she can get out unscathed. You see the view right now. 
“Woahh,” you say. “That is amazing!” You are looking down at a crystal clear lake, full of energetic fish. It's like a magical wishing pond, especially because it's surrounded by beautiful pine and aspen trees. You think it's so beautiful. You want to gaze at it for longer, but you have to keep going.  You walk until you're close to the lodge again.  Then, you find a track. It's made of human footprints, and you see some berries dropped too. Do you follow it?	

{% endfilter %}
<form action="/pathc12" method = "POST">
    <p><input type = "submit" value = "follow the path" /></p>
</form>
<form action="/path121" method = "POST">
    <p><input type = "submit" value = "stay on the road and go back see more of what the lodge does." /></p>
</form>
