{% filter markdown %}

You run away! you run as fast as you can, trying to get out of the cougar’s sight. You go one way, then another. Then the cougar is catching up. you need to run!  You can’t do this for much longer. Then, you hear the voices again! You run towards them. Then, a flaming stick comes out in one direction, and the cougar finally runs away. You go to where it came from. You find two women and one man in ragged, dirty clothes, with gray long hair. 
“Who are you?” the man says. “Why are you interfering with us? Did you come from The Lodge?” The way he says it sends shivers down your spine. “I– I ran away from it, with my friend. He– I lost him.” You sniff as you start to cry. 
Woman one says, “Don't worry, you're safe with us here. We’ve all had similar experiences here.”

{% endfilter %}

<form action="/pathcave" method = "POST">
    <p><input type = "submit" value = " continue" /></p>
</form>