<body style="background:#FFC0CB"; text="Green"></body>


{% filter markdown %}
# THE MONKEY MAZE
### by Gabriel Yeung & Hunter Gill

---

Warning!!!

Do not read this book straight through from beginning to end. These pages contain many different adventures you can have in the year 9203 as you find your way through a treacherous banana maze. From time to time as you read along, you will be asked to make decisions and choices. Your choices may lead to success or disaster! The adventures you have will be the result of the choices you make. After you make a choice, follow directions to see what happens to you next.

Think carefully before you make a move. Hostile creatures and traps fill the winding path of walls and ground (and maybe some other surprises). Your mission may be dangerous at times, but you can always go back to change a decision.

Good luck!

{% endfilter %}

<form action="/page1" method="GET">
    <p><input type="submit" value="Next"></p>
</form>